# PE06 Hrishikesh Vaze
### DWDM Lab4 Part B KMeans (Clustering)

In [41]:
import pandas as pd

In [42]:
db = [
    ['A1', 1,1],
    ['A2', -2,1],
    ['A3', -2,-3],
    ['A4', 3,2],
    ['A5', -4,3],
    ['A6', 5,-5],
]

In [43]:
# read data
idf = pd.read_csv('../datasets/income.csv')
idb = []
for row in idf.values:
    idb.append(row)
# idb = idb[2:]
db = idf.values.tolist()

In [44]:
def get_euclidean_distance(x,y):
    return ((x[0]-y[0])**2 + (x[1]-y[1])**2)**0.5

In [45]:
def make_cluster(db, n=2):
    n = [i for i in range(n)] # k1, k2, ...
    clusters = [[] for i in n]
    old_clusters = [[] for i in n]
    distance_table = [[0 for x in n] for i in db]
    centroids = [[db[i][1], db[i][2]] for i in n]
    row_cluster = [0 for i in db]

    while True:
        old_clusters = clusters
        clusters = [[] for i in n]
        for row_index, row in enumerate(db):
            min_distance_cluster = [0, 9999999] # [cluster_index, distance]
            label, x1, y1 = row
            for centroid_index, centroid in enumerate(centroids):
                x2,y2 = centroid
                dis = get_euclidean_distance((x1,y1), (x2,y2))
                distance_table[row_index][centroid_index] = dis
                if dis < min_distance_cluster[1]:
                    min_distance_cluster = [centroid_index, dis]
            clusters[min_distance_cluster[0]].append(row_index)
            row_cluster[row_index] = min_distance_cluster[0]
        
        for __c1, __c2 in enumerate(clusters):
            clusters[__c1].sort()

        if clusters == old_clusters:
            break

        # calculate new centroid

        for __c_index, __c in enumerate(clusters):
            new_x = sum([db[i][1] for i in __c]) / len(__c)
            new_y = sum([db[i][2] for i in __c]) / len(__c)
            centroids[__c_index] = [new_x, new_y]

    final_db = []
    for row_index, row in enumerate(db):
        final_row = row
        distance_table[row_index] = ["{:.2f}".format(i) for i in distance_table[row_index]]
        final_row.append(f'K{row_cluster[row_index]+1}')
        final_row.append(" ,".join(distance_table[row_index]))
        # db[row_index] = row
        final_db.append(final_row)

    return final_db

In [46]:
clusters = pd.DataFrame(make_cluster(db, n=3), columns=['Label', 'X', 'Y', 'Cluster', 'Distances'])
clusters

       Label   X       Y Cluster                      Distances
0        Rob  27   70000      K1   10500.00 ,80000.00 ,13863.64
1    Michael  29   90000      K1    9500.00 ,60000.00 ,33863.64
2      Mohan  29   61000      K3    19500.00 ,89000.00 ,4863.64
3     Ismail  28   60000      K3    20500.00 ,90000.00 ,3863.64
4       Kory  42  150000      K2       69500.00 ,3.71 ,93863.64
5     Gautam  39  155000      K2    74500.00 ,5000.00 ,98863.64
6      David  41  160000      K2  79500.00 ,10000.00 ,103863.64
7     Andrea  38  162000      K2  81500.00 ,12000.00 ,105863.64
8        Ram  36  156000      K2    75500.00 ,6000.00 ,99863.64
9      Rohan  35  130000      K2   49500.00 ,20000.00 ,73863.64
10     Priya  37  137000      K2   56500.00 ,13000.00 ,80863.64
11   Charlie  26   45000      K3  35500.00 ,105000.00 ,11136.37
12    Arnold  27   48000      K3   32500.00 ,102000.00 ,8136.37
13     Jared  28   51000      K3    29500.00 ,99000.00 ,5136.37
14     Stark  29   49500      K3   31000.00 ,100500.00 ,6636.36
15      John  32   53000      K3    27500.00 ,97000.00 ,3136.36
16     David  40   65000      K3    15500.00 ,85000.00 ,8863.64
17  Priyanka  41   63000      K3    17500.00 ,87000.00 ,6863.64
18    Rachel  43   64000      K3    16500.00 ,86000.00 ,7863.64
19     Alina  39   80000      K1     500.02 ,70000.00 ,23863.64
20       Sid  41   82000      K1    1500.02 ,68000.00 ,25863.64
21     Abdul  39   58000      K3    22500.00 ,92000.00 ,1863.65